@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", cursive;
    --fonte3: "Sriracha", cursive;
      
}

* {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    font-size: 1em;
}

body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

main {
    width: 1000px;
    margin: auto;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    box-shadow: 5px 5px 7px 0px #00000053;;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0px 10vh 30px;
    font-family: var(--fonte3);
    line-height: 2em;
    font-size: 3.5vw;
    color: black;
}

section > p {
    padding-bottom: 2em;
}

.normal {
    background-color: white;
    color: black;
    background-attachment: fixed;
}

.imagem {
    background: #333333 url('imagens/background001.jpg') right center no-repeat fixed;
    background-size: cover;
    color: #ffffff;
    box-shadow: inset 5px 5px 10px 0px #00000053;
}
.imagem2 {
    background: #ffffff url('imagens/background002.jpg') right center no-repeat fixed;
    background-size: cover;
    color: white;
    box-shadow: inset 5px 5px 10px 0px #00000053;
}

.imagem > p, .imagem2 > p  {
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
    background-color: rgba(0, 0, 0, 0.514);
}

/*
    SHORTHAND
    background: colo>image>position>repeat>[size]>attachment
*/

footer {
    background-color: black
    ;
    color: white;
    text-align: center;
    padding: 5px;
}